<div class="card" style="width: 80rem" >
  <div class="card-body" style="background-color:#ffffff;">
<table *ngIf="movies" class="table">
  <thead class="thead-dark">
  <tr>
    <th>id</th>
    <th>Name</th>
    <th >Release_Date</th>
    <th >Rating</th>
    <th >Language</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let a of movies">
    <td>{{a.id}}</td>
    <td><a class="btn btn-link" [routerLink]="['/updatemovie',a.id]" role="button">{{a.Name}}</a></td>
    <td>{{a.Release_Date}}</td>
    <td>{{a.Rating}}</td>
    <td>{{a.Language}}</td>
  </tr>
</tbody>
</table>
</div>
</div>